@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
 body {
     font-family: "Science Gothic", sans-serif;
     font-weight:normal;
     margin: 0;
     background-image: url("https://mcdn.wallpapersafari.com/medium/37/54/M4phV9.jpg") 
}
html {
  overflow: hidden;
  height: 100%;

}
body {
  color: white;
  overflow: auto;
  height: 100%;
}
 main {
     margin: 0 25vw;
}
 @media screen and (max-width: 800px) {
     main {
         margin: 0 5vw;
    }
    #top-banner {
      width: 90vw !important;
    }
}
a {
   text-decoration: underline;
     color: inherit;
    
}
.lain-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

#lain-text {
  z-index: 5;
}

#marquee {
  height: 40px;
}

#lain-banner {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
}
iframe {
  width: 100%;
  height: 205px;
  border: none;
  filter: saturate(0);
}
iframe:hover {
  filter: none;
}
.book-container {
      width: 100%;
      height: 100%;
      position: relative;
}
#book {
  filter: saturate(0);
  width: 60%;
  height: 60%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  }
#lain {
  filter: saturate(0);
  margin: 0;
  width: 100%;
  height: 90%;
}
.poll-container {
  background-color: #494949;
  padding: 2px;
  width: 98%;
  font-family: Arial, sans-serif;
  font-size: small;
  color: white;
  height: 100%;
  overflow: hidden;
}

.poll-title {
  padding: 2px 0 4px 2px;
}

.poll-option {
  clear: both;
  height: 20px;
}

.poll-option input[type="radio"] {
  float: left;
}

.poll-option label {
  float: left;
  width: 150px;
}

.poll-buttons {
  text-align: center;
  padding: 3px;
}

.poll-footer {
  text-align: left;
  font-size: 10px;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center;
}


#selected {
  color: #59C5BD
}
 .banner-container {
     width: 100%;
     height: 250px;
     margin-bottom: 10px;
}
#top-banner {
filter: brightness(0) saturate(100%) invert(40%) sepia(7%) saturate(2756%) hue-rotate(127deg) brightness(93%) contrast(97%);
  height: 250px;
  width: 50vw;
}
 .nav-container {
     margin-top: 0;
     background-color:#28716C;
     display: flex;
     text-align: center;
}
 .nav-link {
     font-weight: normal;
     margin: 0 10px;
     width: 25%;
     list-style-type: none;
}
.nav-link a {
  text-decoration: none;
}
#soon {
  font-size: 8px;
}
 #title {
     font-weight: bold;
     clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
     padding-right: 20px;
     background-color:#28716C;
     display: inline;
}
#gbook {
  font-size: 8px;
  text-decoration: none;
} 
.title-line {
   margin: 0;
     font-size: 16px;
          background-color: #28716C;

}
 .date-container {
     margin: 0;
     background-color: #28716C;
}
 .cl-container {
     position: sticky;
     top: 0;
     background-color: #28716C;
}
 .change-log-list {
     padding: 0;
     list-style-type: none;
}
 .change-log-list a {
     margin: 5px;
    
}
.change-log-list p {
  margin: 5px;
     font-size: 12px;
}
 .parent > div {
     overflow: scroll;
     color: white;
          box-shadow: -2px 1px 0 #141414,-2px 2px 0 #141414,-3px 3px 0 #141414;
     border: 6px solid #141414;
     outline: 4px solid #3D3D3D;
     outline-offset: -5px;
          background-color: #292929;

}
.userdate {
  display:flex;
  margin-top: -5px;
}
#status {
  margin-top: -15px;
  font-size: 10px;
}
 .parent {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(7, 1fr);
     gap: 8px;
     margin: 10px;
     max-height: 70vh 
}
 .div1 {
     min-height: 10vh;
     grid-column: span 2 / span 2;
}
 .div2 {
     grid-column: span 2 / span 2;
     grid-row: span 2 / span 2;
     grid-column-start: 1;
     grid-row-start: 2;
}
 .div3 {
   filter: saturate(0);
     grid-column: span 2 / span 2;
     grid-column-start: 1;
     grid-row-start: 4;
}
.div3:hover {
  filter: none;
}
 .div4 {
     grid-column: span 2 / span 2;
     grid-row: span 3 / span 3;
     grid-column-start: 1;
     grid-row-start: 5;
     height: 205px;
}
 .div5 {
   position: relative;
     grid-column: span 4 / span 4;
     grid-row: span 4 / span 4;
     grid-column-start: 3;
     grid-row-start: 1;
}
 .div6 {
     background-color: #494949;
     grid-column: span 2 / span 2;
     grid-row: span 3 / span 3;
     grid-column-start: 3;
     grid-row-start: 5;
}
 .div7 {
     grid-column: span 2 / span 2;
     grid-row: span 2 / span 2;
     grid-column-start: 5;
     grid-row-start: 6;
}
 .div8 {
     grid-column-start: 5;
     grid-row-start: 5;
}
 .div9 {
     grid-column-start: 6;
     grid-row-start: 5;
}
 
